[submodule "modules/OSBot-Utils"]
	path = modules/OSBot-Utils
	url = git@github.com:owasp-sbot/OSBot-Utils.git
[submodule "modules/docs-MGraph-DB"]
	path = modules/docs-MGraph-DB
	url = git@github.com:owasp-sbot/docs-MGraph-DB.git
